<ul id="slide-out" class="side-nav z-depth-5">
    <li>
        <div class="user-view">
            <div class="background grey darken-1">  
                
            </div>
            <a href="#!user"></a><img class="circle responsive-img col s5" width="200" src="/images/github-logo.png"></a>
            <a href="#!name"><span class="white-text name">Aplikasi API Github</span></a>
            <a href="#!email"><span class="white-text email">faisalarkan21@gmail.com</span></a>
        </div>
    </li>

    <li><a class="subheader">Pilihan Menu</a></li>
    <li><a href="/"><i class="material-icons">account_circle</i>Akun Github</a></li>
    <li><a href="#!"><i class="material-icons">memory</i>Repository Github</a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>